body {
  margin: 0;
  font-family: "Jockey One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #17161d 0%, #181818 100%);
}


.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
  
}