body {
  margin: 0;
  font-family: "Jockey One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f1f;
}


.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
  
}