.displayAboutMe {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    color: white;
}

.subtitleAboutMe {
    color: rgb(235, 235, 235);
    text-align: right;
    text-wrap-mode: nowrap;
    font-size: calc(1.5vh + 1.5vw);
    width: calc(2vh + 2vw);
    height: fit-content;
    z-index: 1;
    align-self: flex-start;
}

.subtitleAboutMe::before {
    content: '';
    border-bottom: calc(0.5vw + 0.5vh) solid #00eeff8f;
    width: calc(6vh + 6vw);
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    top: calc(2vw + 2vh);
    left: calc(0.5vw + 0.5vh);
}

.parrafoAboutMe {
    color: rgb(235, 235, 235);
    width: 100%;
    text-align: justify;
    font-size: calc(0.8vh + 0.8vw);
    align-self: flex-start;
    margin-top: calc(2vw + 2vh);
}

.social {
    position: relative;
    height: calc(2vw + 2vh);
    width: 100%;
    display: flex;
    font-size: calc(2vw + 2vh);
    color: #00eeff;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}


.scrolled {
    position: fixed;
    animation: socialScrolling 2s;
    animation-fill-mode: forwards;
    opacity: 50%;
    transition: 200ms;
}

.scrolled:hover {
    opacity: 100%;

}

@keyframes socialScrolling {
    0% {
        height: calc(2vw + 2vh);
        display: flex;
        width: 40%;
        left: 50%;
        top: 0;
    }

    20% {
        width: calc(2vw + 2vh);
        display: flex;
        width: 0;
        left: 50%;
        top: -20%;
        opacity: 0%;
        flex-direction: row;
    }

    25% {
        left: 100%;
        height: 25%;
        top: 0%;
        opacity: 0%;
        flex-direction: column;
    }

    100% {
        height: 25%;
        width: calc(2vw + 2vh);
        font-size: calc(1.5vw + 1.5vh);
        flex-direction: column;
        left: 95%;
        top: 5%;
    }
}

.media {
    position: relative;
    display: flex;
    width: auto;
    align-items: center;
    background-color: rgba(153, 231, 255, 0);
    justify-content: space-evenly;
    padding: calc(0.2vw + 0.2vh);
    transition: 200ms;
}


.media:hover {
    transition: 200ms;
    color: rgb(0, 0, 0)
}

.media::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #00eeff;
    width: 0%;
    transition: 200ms;
    z-index: -1;
}

.media:hover::after {
    width: 100%;
}

.stack {
    display: flex;

}