.displayAboutMe {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    color: white;
}

.picture {
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-radius: 360px;

}

img {
    width: calc(15vw + 15vh);
    height: calc(15vw + 15vh);
    border-radius: calc(10vw + 10vh);
    object-fit: cover;
    object-position: center;
}

.subtitleAboutMe {
    color: rgb(235, 235, 235);
    text-align: right;
    text-wrap-mode: nowrap;
    font-size: calc(1.5vh + 1.5vw);
    width: calc(2vh + 2vw);
    height: calc(1.2vh + 1.2vw);
    align-self: flex-start;
}

.subtitleAboutMe::before {
    content: '';
    border-bottom: calc(0.5vw + 0.5vh) solid #85f7ff4f;
    width: calc(6vh + 6vw);
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    top: calc(2vw + 2vh);
    left: calc(0.5vw + 0.5vh);
}

.parrafo {
    color: rgb(235, 235, 235);
    text-align: justify;
    font-size: calc(0.8vh + 0.8vw);
    align-self: flex-start;
    margin-top: calc(2vw + 2vh);
}