.displayAboutMe {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    color: white;
}

.subtitleAboutMe {
    color: rgb(235, 235, 235);
    text-align: right;
    text-wrap-mode: nowrap;
    font-size: calc(1.5vh + 1.5vw);
    width: calc(2vh + 2vw);
    height: calc(1.2vh + 1.2vw);
    align-self: flex-start;
}

.subtitleAboutMe::before {
    content: '';
    border-bottom: calc(0.5vw + 0.5vh) solid #85f7ff4f;
    width: calc(6vh + 6vw);
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    top: calc(2vw + 2vh);
    left: calc(0.5vw + 0.5vh);
}

.parrafo {
    color: rgb(235, 235, 235);
    text-align: justify;
    font-size: calc(0.8vh + 0.8vw);
    align-self: flex-start;
    margin-top: calc(2vw + 2vh);
}

.social {
    height: calc(2vw + 2vh);
    display: flex;
    font-size: calc(1.5vw + 1.5vh);
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.media {
    position: relative;
    display: flex;
    width: auto;
    background-color: #85f7ff4f;
    align-items: center;
    justify-content: space-evenly;
    padding: calc(0.2vw + 0.2vh);
}

.media::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(153, 231, 255, 0.384);
    width: 0%;
    transition: 200ms;
    z-index: 0;
}

.media:hover::after {
    width: 100%;
}
