
.picture {
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-radius: 360px;

}

.img {
    width: 75%;
    height: 100%;
    border-radius: calc(10vw + 10vh);
    object-fit: cover;
    object-position: center;
}
