.display {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    border-top: 1px;
    border-inline: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.096);
    width: 100%;
    height: 100%;
}

.projectContainer {
    position: relative;
    display: grid;
    grid-template-columns: 2;
    grid-row: 1;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
}


.titleProjects {

    color: rgb(235, 235, 235);
    margin-bottom: calc(0.5vh + 0.5vw);
    text-align: right;
    text-wrap-mode: nowrap;
    font-size: calc(3vh + 3vw);
    width: calc(4vh + 4vw);
    height: fit-content;
    align-self: flex-start;
    text-align:start;
}

.titleProjects::before {
    content: '';
    border-bottom: calc(1vw + 1vh) solid #85f7ff4f;
    width: calc(12vh + 12vw);
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    top: calc(4vw + 4vh);
    left: calc(1vw + 1vh);
}

.subtitleProjects {

    color: rgb(235, 235, 235);
    margin-bottom: calc(2vh + 2vw);
    text-align: right;
    text-wrap-mode: nowrap;
    font-size: calc(1.5vh + 1.5vw);
    width: fit-content;
    height: fit-content;
    align-self: flex-start;
}

.projectTitle {
    font-size: calc(2vh + 2vw);
    color: rgb(133, 255, 255);

    width: fit-content
}

.projectSubtitle {
    font-size: calc(1vh + 1vw);
    color: rgb(255, 255, 255);

    width: fit-content
}

.parrafo {
    color: rgb(235, 235, 235);
    text-align: justify;
    font-size: calc(0.8vh + 0.8vw);
    align-self: flex-start;
    margin-top: calc(1vw + 1vh);
    width: calc(25vw + 25vh);
}

.projectImg {
    z-index: -1;
    width: calc(20vw + 20vh);
    height: calc(20vw + 20vh);
    object-fit: cover;
    object-position: center;
    margin: auto;
}