.display {
    grid-column: 1 / 3;
    grid-row: 2;
    border-top: 1px;
    border-inline: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.096);
    width: 100%;
    height: 100%;
}
