.display {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    width: 100%;
    height: 100%;

}

.projectContainer {
    position: relative;
    display: grid;
    grid-template-columns: calc(25vw + 25vh) calc(25vw + 25vh);
    column-gap: calc(2vw + 2vh);
    grid-row: 1;
    margin: calc(2vw + 2vh);
    opacity: 0;
    left: calc(-2vh - 2vw);
}

.projectAnimated {
    animation: projectAnimation 2s forwards ease-in-out;
}

@keyframes projectAnimation {
    0% {
        opacity: 0%;
    } 100% {
        opacity: 90%;
        left: 0;
    }
    
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.titleProjects {
    z-index: 1;
    color: rgb(235, 235, 235);
    margin-bottom: calc(0.5vh + 0.5vw);
    text-align: right;
    font-size: calc(3vh + 3vw);
    width: calc(4vh + 4vw);
    height: fit-content;
    align-self: flex-start;
    text-align: start;
}

.titleProjects::before {
    content: '';
    border-bottom: calc(1vw + 1vh) solid #85f7ff4f;
    width: calc(12vh + 12vw);
    display: block;
    margin: 0 auto;
    position: relative;
    top: calc(4vw + 4vh);
    z-index: -1;
    left: calc(1vw + 1vh);
}

.subtitleProjects {

    color: rgb(235, 235, 235);
    margin-bottom: calc(2vh + 2vw);
    text-align: right;
    text-wrap-mode: nowrap;
    font-size: calc(1.5vh + 1.5vw);
    width: fit-content;
    height: fit-content;
    align-self: flex-start;
}

.projectTitle {
    font-size: calc(1.5vh + 1.5vw);
    color: rgb(133, 255, 255);

    width: fit-content
}

.projectSubtitle {
    font-size: calc(1vh + 1vw);
    color: rgb(255, 255, 255);

    width: fit-content
}

.parrafo {
    color: rgb(235, 235, 235);
    text-align: justify;
    font-size: calc(0.8vh + 0.8vw);
    align-self: flex-start;
    margin-top: calc(1vw + 1vh);
}

.projectImg {
    object-fit: contain;
    width: calc(20vw + 20vh);
    height: calc(20vw + 20vh);
    object-position: center;
    margin: auto;
    border-radius: 1rem;
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.4);
    background: #111;
}


.findout {
    position: relative;
    text-decoration: none;
}

.findout::before {
    position: absolute;
    top: calc(-0.5vh - 0.5vw);
    left: calc(-1vh - 1vw);
    width: 110%;
    height: 101%;
    content: '';
    text-decoration: none;
    border: calc(0.1vw + 0.1vh) dashed rgba(255, 255, 255, 0.075);
    border-radius: calc(1vw + 1vh);
    transition: 1s;
}

.findout:hover::before {
    text-decoration: none;
    border: calc(0.1vw + 0.1vh) cyan;
    border-style: solid;
    border-radius: calc(1vw + 1vh);
    transition: 1s;
}