.skillSetDisplay {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    color: white;
}

.subtitleSkills {
    color: rgb(235, 235, 235);
    text-align: right;
    text-wrap-mode: nowrap;
    font-size: calc(1.5vh + 1.5vw);
    width: calc(2vh + 2vw);
    height: fit-content;
    z-index: 1;
    align-self: flex-start;
}

.subtitleSkills::before {
    content: '';
    border-bottom: calc(0.5vw + 0.5vh) solid #00eeff8f;
    width: calc(8vh + 8vw);
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    top: calc(2vw + 2vh);
    left: calc(0.5vw + 0.5vh);
}

.skills {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    grid-template-columns: calc(4vw + 4vh);
    grid-auto-columns: calc(4vw + 4vh);
    grid-template-rows:calc(4vw + 4vh) calc(4vw + 4vh);
    row-gap: calc(1.5vw + 1.5vh);
    column-gap: calc(1.5vw + 1.5vh);
    margin-top: calc(3vw + 3vh);
}


.skillContainer {
    position: relative;

}

.skill {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: calc(1vw + 1vh);
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.skill::before {
    position: absolute;
    box-sizing: content-box;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: calc(0.1vw + 0.1vh) solid;
    border-radius: calc(1vw + 1vh);
    border-color: #00eeff;
    justify-content: center;
    z-index: -1;
    padding: 0%;
    transition: 1s;
}

.skill:hover::before {
    padding: 10%;
    top: -10%;
    left: -10%;
    transition: 1s;
}

.svgIcons {
    position: absolute;
    width: 50%;
    height: 50%;
        transition: 1s;
}

.skill:hover .svgIcons {
    width: 90%;
    height: 90%;
        transition: 1s;
}