.terminalDisplay {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: start;
    top: 5%;
    left: 50%;
    width: calc(30vw + 30vh);
    height: calc(20vw + 20vh);
    background-color: black;
    border-width: calc(0.1vw + 0.1vh);;
    border-radius: calc(1vw + 1vh);
    border-color: aquamarine;
    border-style: solid;
    padding: calc(1vw + 1vh);
}

.terminalInputContainer {
    display: flex;
    width: 90%;
    height: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: calc(0.8vw + 0.8vh);
    letter-spacing: calc(0.1vw + 0.1vh);
}

.terminalInput {
    width: 100%;
    height: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    font: inherit;
    outline: none;
    border: none;

}

.terminalShell {
    width: fit-content;
    text-wrap-mode:nowrap;
    
    height: 100%;
    background-color: black;
    color: aquamarine;;
    outline: none;
    border: none;
}