.title {
    color: rgb(133, 255, 255);
    width: calc(20vh + 20vw);
    height: calc(5vh + 2vw);
    font-size: calc(2vh + 2vw);
}

.subtitle {
    position: relative;
    color: rgb(235, 235, 235);
    text-wrap-mode: nowrap;
    font-size: calc(2vh + 2vw);
    width: calc(20vh + 20vw);
    height: calc(5vh + 2vw);
    align-self: flex-start;
    left: calc(5vh + 2vw);
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 5%;
    width: 90%;
    height: 90%;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}